.projects-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px 60px;
}

.reels-grid {
    max-width: 1200px;
    margin: 90px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 240px));
    gap: 50px;
    justify-content: center;
}