/* ================= WORK PAGE ================= */

.work-page {
    padding: 140px 60px;
    background: linear-gradient(180deg,
            #fff8ee 0%,
            #fffaf3 100%);
}

/* ================= HEADER ================= */

.work-header {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 120px auto;
}

.work-tag {
    display: block;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c26d2d;
    margin-bottom: 20px;
}

.work-header h1 {
    font-family: "Playfair Display", serif;
    font-size: 3.2rem;
    margin-bottom: 20px;
    color: #2b2b2b;
}

.work-header p {
    font-size: 18px;
    color: #5c4a3d;
}

/* ================= GRID ================= */


.projects-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px 60px;
}

.reels-grid {
    max-width: 1200px;
    margin: 100px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 240px));
    gap: 50px;
    justify-content: center;
}

/* ================= FILTER BUTTONS ================= */

.work-filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.work-filters button {
    padding: 10px 22px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}

.work-filters button:hover {
    background: #f5e5d8;
}

.work-filters button.active {
    background: #c26d2d;
    color: white;
    border: none;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1024px) {
    .work-grid {
        grid-template-columns: 1fr;
    }

    .work-page {
        padding: 100px 30px;
    }
}

@media (max-width: 600px) {
    .work-header h1 {
        font-size: 2.2rem;
    }
}